<div class="container">
	<% @users.each do |user| %>
		<% if current_user.id != user.id %>
			<div class="card">
  			<div class="card-block">
    			<h4 class="card-title"><strong><%= user.name %></strong></h4>
  			</div>
  			<img src="..." alt="Card image">
  			<div class="card-block">
  				<%= link_to "Add Friend", friendships_path(:friend_id => user), :method => :post %>
	  		</div>
	  	</div>
	  <% end %>
  <% end %>
</div>